[Unit]
Description=docker-etcd-registrator
Requires=docker.service etcd2.service
After=docker.service etcd2.service

[Service]
Restart=always
RestartSec=5s
TimeoutStartSec=120
TimeoutStopSec=25

EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/docker pull vbond/docker-etcd-registrator
# remove old container
ExecStartPre=/bin/sh -c "docker ps -a | grep %p 1>/dev/null && docker rm %p || true"

# Start the container
ExecStart=/bin/sh -c "\
  /usr/bin/docker run \
    --rm \
    --name=%p \
    --env HOSTNAME=%H \
    --env BUILTIN_DNS_PROXY=8.8.8.8 \
    --env ETCD_ENDPOINTS=http://$(ip route | awk '/docker/ { print $NF }'):2379\
    -p 53:53 -p 53:53/udp \
    -v /var/run/docker.sock:/var/run/docker.sock \
    vbond/docker-etcd-registrator"

ExecStop=/usr/bin/docker stop %p


[X-Fleet]
Global=true
